body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#button-list {
    position: fixed;
    left: 0;
    top: 30%;
    z-index: 2;
    height: 40%;
    width: 20%;
    padding: 0;
}

.button {
    height: 30%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
}
