body {
  height: 100vh;
  margin: 0;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#button-list {
  position: absolute;
  left: 0;
  top: 60vh;
  z-index: 2;
  height: 40%;
  width: 20%;
  padding: 2px;
  margin: 2px;
}

#information-view {
  height: 20vh;
  width: 50%;
  margin: auto;
}

#information-click {
    position: absolute;
    right: 0;
    top: 60vh;
    z-index: 2;
    height: 40%;
    width: 20%;
    padding: 0;
    display: none
}

#heatmap {
  background: url('heat-map-icon.png') no-repeat center center;
  background-size: contain;
  border: 3px solid black;
  box-shadow: 1px 1px 1px grey;
}

#roadmap {
  background: url('driving.png') no-repeat center center;
  background-size: contain;
  border: 3px solid black;
  box-shadow: 1px 1px 1px grey;
}

#busmap {
  background: url('bus.png') no-repeat center center;
  background-size: contain;
  border: 3px solid black;
  box-shadow: 1px 1px 1px grey;
}

.button {
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: green;
}
