body {
  height: 100vh;
  margin: 0;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#button-list {
  position: absolute;
  left: 0;
  top: 60vh;
  z-index: 2;
  height: 40%;
  width: 20%;
  padding: 0;
}

#information-view {
  height: 20vh;
  width: 50%;
  margin: auto;
}

.button {
  height: 30%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: green;
}
